@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 13% 91%;
    --foreground: 285 10% 20%;
    --card: 285 13% 96%;
    --card-foreground: 285 10% 20%;
    --popover: 285 13% 96%;
    --popover-foreground: 285 10% 20%;
    --primary: 285 24% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 10% 85%;
    --secondary-foreground: 285 10% 20%;
    --muted: 285 10% 85%;
    --muted-foreground: 285 10% 45%;
    --accent: 328 60% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 10% 80%;
    --input: 285 10% 88%;
    --ring: 328 60% 59%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 285 10% 10%;
    --foreground: 285 10% 90%;
    --card: 285 10% 12%;
    --card-foreground: 285 10% 90%;
    --popover: 285 10% 12%;
    --popover-foreground: 285 10% 90%;
    --primary: 285 24% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 10% 20%;
    --secondary-foreground: 285 10% 90%;
    --muted: 285 10% 20%;
    --muted-foreground: 285 10% 60%;
    --accent: 328 60% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 285 10% 25%;
    --input: 285 10% 22%;
    --ring: 328 60% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
